<!DOCTYPE html>

<html>

<head>

<title><% title %></title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/stylesheets/css/bootstrap.min.css" media="all">
<link rel="stylesheet" type="text/css" href="/stylesheets/css/site.css" media="all">
<link rel="stylesheet" type="text/css" href="/stylesheets/css/site.min.css" media="all">
<script type="text/javascript" src="/stylesheets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/stylesheets/js/site.min.js"></script>
</head>

<body>
	<div class="docs-header">

		<nav class="navbar navbar-default navbar-custom" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3">
						<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-3" style="height: 1px">
					<ul class="nav navbar-nav navbar-right">
						<li><a class="navbar-link" href="bankapp"><font color="#000080"> 送金 </font></a></li>
						<li><a class="navbar-link" href="history"><font color="#000080"> 履歴 </font></a></li>
						<li><a class="navbar-link" href="reffer"><font color="#000080"> ブロックチェーン情報 </font></a></li>

					</ul>
				</div>
			</div>
		</nav>


		<div class="topic">
			<div class="container">
				<h3>IR-Chain</h3>
			</div>
		</div>

	</div>

</body>
</html>
